.b1{
    background-color: blue;
    margin: 20px 10px 20px 10px;
    padding: 10px 30px 10px 30px;
    border: royalblue;
    color: white;
    font-size: bold;
    border-radius: 10px;
}

.b2{
    background-color: red;
    margin: 20px 10px 20px 10px;
    padding: 10px 30px 10px 30px;
    border: royalblue;
    color: white;
    font-size: bold;
    border-radius: 10px;
}

.b3{
    background-color: rgb(126, 27, 232);
    margin: 20px 10px 20px 10px;
    padding: 10px 30px 10px 30px;
    border: royalblue;
    color: white;
    font-size: bold;
    border-radius: 10px;
}

#dis{
    padding: 20px 90px 20px 90px;
    border-radius: 10px;
    color: #000;
    font-size: 22px;
    text-align: right;
}